* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bookmark-theme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
}

#bookmark-card {
    width: 42vw;
    border: 1px solid lightgray;
    margin-left: -2.5rem;
    
    margin: 4rem;
}

#no-bookmark {
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 2rem;
    margin-top: 5rem;
    font-family: 'Hammersmith One', sans-serif;
}