* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#socialvibes-logo {
    font-size: 1.5rem;
    margin-left: 4rem;
    font-weight: bold;
    font-family: 'Hammersmith One', sans-serif;
}

#social {
    color: blueviolet;

}

#search-field {
    width: 30vw;
    height: 2rem;
    padding: 5px;
    border: 1px solid black;
    outline: none;
}

#navbar-theme {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#user-search {
    display: flex;
    justify-content: center;
    align-items: center;


}

#search-by-username {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    width: 30vw;
    height: 40vh;
    background-color: transparent;
    position: absolute;
    top: 100%;


}

#avatar-username {
    display: flex;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 10rem;

}


@media (max-width:480px) {
    html {
        font-size: 7px;
    }

    #socialvibes-logo {
        font-size: 1.2rem;
        margin-left: 1rem;
        font-weight: bold;
        font-family: 'Hammersmith One', sans-serif;
    }
}

@media (max-width:769px) {
    #socialvibes-logo {
        font-size: 1.4rem;
        margin-left: 1rem;
        font-weight: bold;
        font-family: 'Hammersmith One', sans-serif;
    }
}

@media (max-width:1024px) {
    #socialvibes-logo {
        font-size: 1.4rem;
        margin-left: 1rem;
        font-weight: bold;
        font-family: 'Hammersmith One', sans-serif;
    }
}