*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

#welcome{
    display: flex;
       justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    height: 100vh;
   }
#social{
color:blueviolet;

}
#social-vibes{
    font-size: 7rem;
    font-family: 'Hammersmith One', sans-serif;
}

