* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#explore-theme {
    display: flex;
    justify-content: center;

}

#explore-theme-data {
    display: flex;
    width: 35vw;
    height: 100vh;

}

#explore-card {
    margin-top: 5rem;
    width: 42vw;
    box-shadow: 1px 1px 5px lightgray;
    margin-left: -2.5rem;
}

#post-media {
    width: 100%;
    height: 80%;
    padding: 10px;
}

#explore-post-icon {
    display: flex;
    font-size: 1.3rem;
    gap: 2rem;
    padding: 1rem;
    cursor: pointer;
}

#explore-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 12rem;
    color: blueviolet;

}

#edit-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    gap: 1rem;
    cursor: pointer;
   
}


#edit-modal {
    width: 5rem;
    height: 4rem;
    background-color:blueviolet;
        position: absolute;
    margin-top: 1rem;
    margin-left: -5rem;
    border-radius: 5px;
}

#dlt-icon {
    margin-left: 1rem;
    color: white;
}

#full-like-icon {
    color: blueviolet
}

.like {
    position: absolute;
    font-size: 1rem;
    margin-top: -1.2rem;
    margin-left: 1.5rem;
}

.like-full {
    position: absolute;
    font-size: 1rem;
    margin-left: 1.5rem;
}

#profile-avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#post-user-info{
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 1rem;
    padding: 10px;
}
#post-time{
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
}
#post-user-username{
    position: absolute;
    margin-top: -2rem;
    margin-left: 4.3rem;
}
#post-content{
    padding:10px;
}
#user-name{
    display: flex;
    gap: 5px;
}
/* design for mobile */
@media(max-width:480px) {
    #explore-card {
        margin-top: 6rem;
        width: 70vw;
        margin-left: -10rem;
        font-size: 2rem;
    }

    #explore-data {
        margin-left: -11rem;
        box-shadow: 1px 1px 5px lightgray;
    }
}

/* design for small tablet */
@media(max-width:769px) {
    #explore-card {
        margin-top: 6rem;
        width: 70vw;
        font-size: 1rem;
        box-shadow: 0px 0px 0px lightgray;

    }

    #explore-data {
        margin-left: -5rem;
        box-shadow: 1px 1px 5px lightgray;
    }

}

/* design for large tablet */
@media(max-width:1024px) {
    #explore-card {
        margin-left: -3.5rem;
    }
}