*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#suggestion-profiles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    cursor: pointer;
}
#suggestion-profile-picture{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    
}
#suggestion-follow-button{
    width: 4.8rem;
    height: 1.5rem;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 500;
}
#suggestion-name{
    margin-top: -5px;
}
#suggestion-username{
    position: absolute;
    margin-top: 1rem;
    margin-left: -4rem;
    font-size: 14px;
}