* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#post-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#post-theme-data {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 100vh;
}

#add-post-block {
    width: 40vw;
    height: 30vh;
    box-shadow: 1px 1px 6px lightgray;

}

#profile-add {
    display: flex;
    gap: 5px;
}

#add-post-input-filed {
    width: 32vw;
    height: 7rem;
    margin-left: 2rem;
    outline: none;
    border: none;
    resize: none;

}


#add-post-profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

#add-post-icons {
    position: absolute;
    display: flex;
    margin-top: 9rem;
    font-size: 1.1rem;
    margin-left: 1rem;
    gap: 23rem;
    cursor: pointer;


}

#post-icon {
    display: flex;
    gap: 1rem;
}

#post-theme-post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 1.4rem;
    background-color: blueviolet;
    color: white;
}

#post-upload {
    position: absolute;
    top: 25%;
    margin-left: 1rem;
}

/* design for mobile */
@media (max-width:480px) {
    #add-post-block {
        margin-top: 4rem;
    }

    #post-theme-post-button {
        margin-left: -10rem;
        margin-top: 7rem;
    }

    #post-icon {
        display: flex;
        gap: 1rem;
        margin-top: 7rem;
    }

    ::placeholder {
        font-size: 10px;
    }
}

/* design for small tablet */
@media (max-width:769px) {

    #add-post-block {
        margin-top: 4rem;
    }

    #post-theme-post-button {
        margin-left: -10rem;
        margin-top: 7rem;
    }

    #post-icon {
        display: flex;
        gap: 1rem;
        margin-top: 7rem;
    }

    ::placeholder {
        font-size: 10px;
    }
}

@media (max-width:1024px) {

    #add-post-block {

        margin-left: -3em;
    }

    #post-theme-post-button {
        margin-left: -12rem;
        margin-top: 4rem;
    }

    #post-icon {
        margin-top: 4rem;
    }

}